## Database Design


Do not take this course, the institutor talking with no logical, and she think where she talks, just waste your time

## Course Description

A good database design is crucial for a high-performance application.  Just like you wouldn't start building a house without the benefit of a blueprint, you need to think about how your data will be stored beforehand.  Taking the time to design a database saves time and frustration later on, and a well-designed database ensures ease of access and retrieval of information.  While choosing a design, a lot of considerations have to be accounted for.  In this course, you'll learn how to process, store, and organize data in an efficient way.  You'll see how to structure data through normalization and present your data with views.  [Finally, you'll learn how to manage your database and all of this will be done on a variety of datasets from book sales, car rentals, to music reviews.]

##  Processing, Storing, and Organizing Data
Free
0%

Start your journey into database design by learning about the two approaches to data processing, OLTP and OLAP. In this first chapter, you'll also get familiar with the different forms data can be stored in and learn the basics of data modeling.

    OLTP and OLAP    50 xp
    OLAP vs. OLTP    100 xp
    Which is better?    50 xp
    Storing data    50 xp
    Name that data type!    100 xp
    Ordering ETL Tasks    100 xp
    Recommend a storage solution    50 xp
    Database design    50 xp
    Classifying data models    100 xp
    Deciding fact and dimension tables    100 xp
    Querying the dimensional model    100 xp

##  Database Schemas and Normalization
0%

In this chapter, you will take your data modeling skills to the next level. You'll learn to implement star and snowflake schemas, recognize the importance of normalization and see how to normalize databases to different extents.

    Star and snowflake schema    50 xp
    Running from star to snowflake    50 xp
    Adding foreign keys    100 xp
    Extending the book dimension    100 xp
    Normalized and denormalized databases    50 xp
    Querying the star schema    100 xp
    Querying the snowflake schema    100 xp
    Updating countries    100 xp
    Extending the snowflake schema    100 xp
    Normal forms    50 xp
    Converting to 1NF    100 xp
    Converting to 2NF    100 xp
    Converting to 3NF    100 xp

##  Database Views
0%

Get ready to work with views! In this chapter, you will learn how to create and query views. On top of that, you'll master more advanced capabilities to manage them and end by identifying the difference between materialized and non-materialized views.

    Database views    50 xp
    Tables vs. views    100 xp
    Viewing views    100 xp
    Creating and querying a view    100 xp
    Managing views    50 xp
    Creating a view from other views    100 xp
    Granting and revoking access    100 xp
    Updatable views    50 xp
    Redefining a view    100 xp
    Materialized views    50 xp
    Materialized versus non-materialized    100 xp
    Creating and refreshing a materialized view    100 xp
    Managing materialized views    50 xp

##  Database Management
0%

This final chapter ends with some database management-related topics. You will learn how to grant database access based on user roles, how to partition tables into smaller pieces, what to keep in mind when integrating data, and which DBMS fits your business needs best.

    Database roles and access control    50 xp
    Create a role    100 xp
    GRANT privileges and ALTER attributes    100 xp
    Add a user role to a group role    100 xp
    Table partitioning    50 xp
    Reasons to partition    50 xp
    Partitioning and normalization    100 xp
    Creating vertical partitions    100 xp
    Creating horizontal partitions    100 xp
    Data integration    50 xp
    Data integration do's and dont's    100 xp
    Analyzing a data integration plan    50 xp
    Picking a Database Management System (DBMS)    50 xp
    SQL versus NoSQL    50 xp
    Choosing the right DBMS    100 xp

## OLTP and OLAP



Hello, my name is Lis, I'm a Curriculum Manager here at DataCamp.  This course will be talking about database design.  So what does that entail exactly?  To put it simply, in this course we are asking the question: [How should we organize and manage data?]  To answer this, we have to consider the different schemas, management options, and objects that make up a database.  Some examples are listed here, and they are covered throughout the course.  These topics all affect the way data is stored and accessed.  Some enable faster query speeds.  Some take up less memory than others.  And notablely, some cost more money than others.  


    Schemas: How should my daya be logically organized?
    Normalization: Should my data have minimal dependency and redundancy?
    Views: What joins will be done most often?
    Access control: Should all users of the data have the same level of access?
    DBMS: How do I pick between all the SQL and noSQL options?
    and more?
    
And as we will soon find out in this course, there is no one right answer to this motivating question.  It will come down to how the data will be used.  Now lets dive in.  


OLTP and OLAP are approaches to processing data, and they will be referenced throughout this course.  They help define the way data is going to flow, be structured, and stored.  If you figure out which fits your business case, desiging your database will be much easier.  [OLTP stands for Online Transaction Processing].  [OLAP stands for Online Analytical Processing].  As the name hint, the OLTP approach is oriented around transactions, while the other is oriented around analytics.  Before going into formal definitions, lets look at some use case of each.  Say you are in charge of data management at a bookstore.  You would use an OLTP approach to keep track of the prices of books, while to analyze the most profitable books, an OLAP approach woule be more appropriate.  [To keep track all customer transactions, you would use an OLTP approach to insert sales as customers finish paying].  However, if you wanted to do sophisticated analysis on sales, like most loyal customers - you would use OLAP.  An OLTP database would be used to track when when employees have worked, while to run an analysis on who deserves employee of the month, you would need to switch over to OLAP.  Are you starting to see the diff?  [OLTP focus on supporting day-to-day operations, while OLAP tasks are vaguer and focus on business decision making]  

[The OLTP systems are application-oriented, like for bookkeeping for example.  OLAP systems are oriented around a certain subject that's under analysis, like last quarter's book sales].  The data in OLTP systems can be seen as a current snapshot of transactions that are archived often.  The data in OLAP systems tend to be data from over a large period of time that has been consolidated for long-term analysis.  This means OLAP tends to have more data than OLTP.  As we saw in the bookstore example, the commonly executed OLTP queries are simpler and require a quick query or update.  On the other hand, OLAP systems used for analysis require more complex queries.  In terms of how these approaches are being used, OLTP systems are used by more people throughout a company and even a company's customers, while OLAP systems are typically used by only analysts and data scientists at a company.  


[OLTP and OLAP systems work together, in fact, they need each other.  OLTP data is usually stored in an operational database that is pulled and cleaned to create an OLAP data warehouse].(But how, we want to tract the user experience, we want to track the business functions)  We'll get into data warehouses and other storage solutions in the next video.  Without transactional data, no analyses can be done in the first place.  Analyses from OLAP systems are used to inform business practice and day-to-day activity, thereby influencing the OLTP databases.  


To wrap up, here is what you should take away from this video.  Before implementing anything, figure out your business requirements because there are many design decisions you'll have to make.  The way you set up your database now wil affect how it can be effectively used in the future.  Start by figuring out if you need an OLAP or OLTP approach, or perhaps both.  You should now be comfortable with the differences between both.  These are the two most common approaches.  However, they are not exhaustive, but they are an excellent start to get you on the right path to designing your database.  In later videos, we'll learn more about the technical difference between both approaches.

## OLAP vs. OLTP

You should now be familiar with the differences between OLTP and OLAP. In this exercise, you are given a list of cards describing a specific approach which you will categorize between OLAP and OLTP.
Instructions
100XP

    Categorize the cards into the approach that they describe best.

OLAP:
    Typically use a data warehouse
    Helps businesses with decision making and problem solving
    Queries a large amount of data

OLTP:
    Data is inserted and updated more often
    Typically use an operational database
    Most likely to have data from the past hour

## Which is better?

The city of Chicago receives many 311 service requests throughout the day. 311 service requests are non-urgent community requests, ranging from graffiti removal to street light outages. Chicago maintains a data repository of all these services organized by type of requests. In this exercise, Potholes has been loaded as an example of a table in this repository. It contains pothole reports made by Chicago residents from the past week.

Explore the dataset. What data processing approach is this larger repository most likely using?
Instructions
50 XP
Instructions
50 XP
Possible Answers

    OLTP because this table could not be used for any analysis.
    OLAP because each record has a unique service request number.
#    OLTP because this table's structure appears to require frequent updates.
    OLAP because this table focuses on pothole requests only.
    
    Hint

    Run SELECT * FROM Potholes to take look at the data contained in this table.
[    The rows current_status and most_recent_action indicate that this table expects updates on records.]
    Does this data look like transactional day-to-day data?

Incorrect submission
This data could be used for analysis, it just wouldn't be as efficient as using an OLAP approach.

In [ ]:
select * from Potholes;

creation_date	current_status	completion_date	service_request_id	type_of_service	most_recent_action	street_address	zip
2018-12-17T00:00:00.000	Open	null	18-03380123	Pothole in Street	null	10300 S WALLACE ST	60628.0
2018-12-18T00:00:00.000	Open	null	18-03388180	Pothole in Street	null	4100 S WESTERN BLVD	60609.0
2018-12-18T00:00:00.000	Open	null	18-03388493	Pothole in Street	null	5230 S NEW ENGLAND AVE	60638.0
2018-12-17T00:00:00.000	Open	null	18-03386050	Pothole in Street	null	1053 E 92ND ST	60619.0
2018-12-17T00:00:00.000	Open	null	18-03382135	Pothole in Street	null	4756 W 85TH ST	60652.0
2018-12-17T00:00:00.000	Open	null	18-03382643	Pothole in Street	null	3623 N NORA AVE	60634.0
2018-12-17T00:00:00.000	Completed	2018-12-18T00:00:00.000	18-03378491	Pothole in Street	Completed Upon Arrival	719 N DRAKE AVE	60624.0
2018-12-17T00:00:00.000	Open	null	18-03380795	Pothole in Street	null	1900 S HAMLIN AVE	60623.0
2018-12-18T00:00:00.000	Open	null	18-03388657	Pothole in Street	null	1899 S KOMENSKY AVE	60623.0
2018-12-17T00:00:00.000	Open	null	18-03383604	Pothole in Street	null	1646 N NATOMA AVE	60707.0
2018-12-18T00:00:00.000	Open	null	18-03387491	Pothole in Street	null	3530 W GOVERNORS PKWY	60624.0
2018-12-17T00:00:00.000	Open	null	18-03381825	Pothole in Street	null	7558 W DEVON AVE	60631.0
2018-12-17T00:00:00.000	Open	null	18-03381945	Pothole in Street	null	2411 N NEWCASTLE AVE	60707.0
2018-12-18T00:00:00.000	Open	null	18-03388109	Pothole in Street	null	6300 S NARRAGANSETT AVE	60638.0
2018-12-17T00:00:00.000	Open	null	18-03381921	Pothole in Street	null	4400 W BELDEN AVE	60639.0
2018-12-18T00:00:00.000	Open	null	18-03389580	Pothole in Street	null	1127 W SCHUBERT AVE	60614.0
2018-12-17T00:00:00.000	Open	null	18-03378282	Pothole in Street	null	5606 W BRYN MAWR AVE	60646.0
2018-12-17T00:00:00.000	Open	null	18-03378374	Pothole in Street	null	9400 S WOODLAWN AVE	60619.0
2018-12-17T00:00:00.000	Open	null	18-03381490	Pothole in Street	null	1105 N CHRISTIANA AVE	60651.0
2018-12-17T00:00:00.000	Open	null	18-03383626	Pothole in Street	null	10359 S FAIRFIELD AVE	60655.0
2018-12-17T00:00:00.000	Open	null	18-03382580	Pothole in Street	null	5508 S WHIPPLE ST	60629.0
2018-12-18T00:00:00.000	Open	null	18-03388378	Pothole in Street	null	1358 S KEDZIE AVE	60623.0
2018-12-17T00:00:00.000	Open	null	18-03382611	Pothole in Street	null	3021 N NEWLAND AVE	60634.0
2018-12-17T00:00:00.000	Open	null	18-03384843	Pothole in Street	null	4711 N VIRGINIA AVE	60625.0
2018-12-17T00:00:00.000	Open	null	18-03383522	Pothole in Street	null	7926 S COTTAGE GROVE AVE	60619.0
2018-12-17T00:00:00.000	Open	null	18-03378054	Pothole in Street	null	4142 N WESTERN AVE	60618.0
2018-12-17T00:00:00.000	Open	null	18-03382506	Pothole in Street	null	7300 W WAVELAND AVE	60634.0
2018-12-17T00:00:00.000	Open	null	18-03382926	Pothole in Street	null	2550 N PULASKI RD	60639.0
2018-12-17T00:00:00.000	Open	null	18-03381396	Pothole in Street	null	3116 N SACRAMENTO AVE	60618.0
2018-12-17T00:00:00.000	Open	null	18-03381474	Pothole in Street	null	2410 W GRAND AVE	60612.0
2018-12-18T00:00:00.000	Open	null	18-03388778	Pothole in Street	null	8247 S GREEN ST	60620.0
2018-12-17T00:00:00.000	Open	null	18-03385654	Pothole in Street	null	4155 W 82ND PL	60652.0
2018-12-17T00:00:00.000	Open	null	18-03379525	Pothole in Street	null	5300 S FRANCISCO AVE	60632.0
2018-12-17T00:00:00.000	Open	null	18-03381588	Pothole in Street	null	6231 W GUNNISON ST	60630.0
2018-12-17T00:00:00.000	Open	null	18-03382660	Pothole in Street	null	1517 W WEBSTER AVE	60614.0
2018-12-17T00:00:00.000	Open	null	18-03377810	Pothole in Street	null	945 W DIVERSEY PKWY	60614.0
2018-12-17T00:00:00.000	Open	null	18-03384615	Pothole in Street	null	3707 E 116TH ST	60617.0
2018-12-17T00:00:00.000	Open	null	18-03380164	Pothole in Street	null	10000 S LOWE AVE	60628.0
2018-12-17T00:00:00.000	Open	null	18-03385464	Pothole in Street	null	5001 S LA CROSSE AVE	60638.0
2018-12-17T00:00:00.000	Open	null	18-03386292	Pothole in Street	null	2356 E 71ST ST	60649.0
2018-12-17T00:00:00.000	Open	null	18-03378165	Pothole in Street	null	1121 N LATROBE AVE	60651.0
2018-12-17T00:00:00.000	Open	null	18-03383170	Pothole in Street	null	6644 S STONY ISLAND AVE	60637.0
2018-12-17T00:00:00.000	Open	null	18-03382675	Pothole in Street	null	2640 W MONROE ST	60612.0
2018-12-18T00:00:00.000	Open	null	18-03388384	Pothole in Street	null	1959 S TROY ST	60623.0
2018-12-17T00:00:00.000	Open	null	18-03382923	Pothole in Street	null	5046 N AVERS AVE	60625.0
2018-12-18T00:00:00.000	Open	null	18-03389579	Pothole in Street	null	2600 N LAKEWOOD AVE	60614.0
2018-12-17T00:00:00.000	Open	null	18-03383524	Pothole in Street	null	4834 N LONG AVE	60630.0
2018-12-17T00:00:00.000	Open	null	18-03379830	Pothole in Street	null	2305 W 34TH ST	60608.0
2018-12-18T00:00:00.000	Open	null	18-03389578	Pothole in Street	null	2640 N SHEFFIELD AVE	60614.0
2018-12-17T00:00:00.000	Open	null	18-03385110	Pothole in Street	null	4180 W 82ND ST	60652.0
2018-12-17T00:00:00.000	Open	null	18-03380063	Pothole in Street	null	6030 N NAGLE AVE	60646.0
2018-12-17T00:00:00.000	Open	null	18-03379292	Pothole in Street	null	854 E 40TH ST	60653.0
2018-12-17T00:00:00.000	Open	null	18-03383449	Pothole in Street	null	3411 S EMERALD AVE	60616.0
2018-12-17T00:00:00.000	Open	null	18-03378454	Pothole in Street	null	4100 S WESTERN AVE	60609.0
2018-12-18T00:00:00.000	Open	null	18-03387506	Pothole in Street	null	1145 S WASHTENAW AVE	60612.0
2018-12-17T00:00:00.000	Open	null	18-03379518	Pothole in Street	null	10200 S HALSTED ST	60628.0
2018-12-18T00:00:00.000	Open	null	18-03388112	Pothole in Street	null	5400 N WESTERN AVE	60625.0
2018-12-17T00:00:00.000	Open	null	18-03381370	Pothole in Street	null	2300 N WESTERN AVE	60647.0
2018-12-17T00:00:00.000	Open	null	18-03385374	Pothole in Street	null	10800 S SANGAMON ST	60643.0
2018-12-17T00:00:00.000	Open	null	18-03384523	Pothole in Street	null	300 S HOMAN AVE	60624.0
2018-12-17T00:00:00.000	Open	null	18-03380286	Pothole in Street	null	3542 N PULASKI RD	60641.0
2018-12-18T00:00:00.000	Open	null	18-03387600	Pothole in Street	null	2747 N LARAMIE AVE	60639.0
2018-12-17T00:00:00.000	Open	null	18-03379342	Pothole in Street	null	4830 S KEATING AVE	60632.0
2018-12-18T00:00:00.000	Open	null	18-03387505	Pothole in Street	null	1145 S FAIRFIELD AVE	60612.0
2018-12-18T00:00:00.000	Open	null	18-03387458	Pothole in Street	null	908 S CAMPBELL AVE	60612.0
2018-12-17T00:00:00.000	Open	null	18-03378386	Pothole in Street	null	2138 N DAYTON ST	60614.0
2018-12-18T00:00:00.000	Open	null	18-03386479	Pothole in Street	null	1819 W HOWARD ST	60626.0
2018-12-18T00:00:00.000	Open	null	18-03387502	Pothole in Street	null	2421 W 21ST PL	60608.0
2018-12-17T00:00:00.000	Open	null	18-03382321	Pothole in Street	null	8350 W BELMONT AVE	60634.0
2018-12-17T00:00:00.000	Open	null	18-03382231	Pothole in Street	null	1344 E 88TH ST	60619.0
2018-12-17T00:00:00.000	Open	null	18-03378466	Pothole in Street	null	1405 W BELLE PLAINE AVE	60613.0

## Storing data



Lets discuss the different ways you can store data.  Data can be stored in 3 different levels.  

The first is [structured data], which is usually defined by schemas.  
[Data types and tables are not only defined, but relationships between tables are also defined, using concepts like foreign keys].  

The second is [unstructured data], which is schemaless and data in its rawest form, meaning its not clean.  Most data n the world is unstructured.  Examples includes media files and raw text.  

The third is [semi-structured] data, which does not follow a larger schema, rather it has an ad-hoc self-describing structure.  Therefore, it has some structure.  This is an inherently vague definition as there can be a lot of variation between structured and unstructured data.  Examples includes NoSQL, XML, and JSON.  

Because its clean and organized, structured data is easier to analyze.  However, its not as flexible because it need to follow a schema, which makes it less scalable.  These are trade-offs to consider as you move between structured and unstructured data.  You should already be familiar with traditional databases.  They generally follow relational schemas.  Operational databases, which are used for OLTP, are an example of traditional database.  Decades ago, traditional databases used to be enoughfor data storage.  Then as data analytics took off, data warehouses were popularized for OLAP approaches.  And now in the age of big data, we need to analyze and store even more data, which is where the data lake comes in.  

I used to term "traditional databases" because many people consider data warehouse and lakes to be a type of database.  Data warehouses are optimized for read-only analytics.  They combine data from multiple sources and use massively parallel processing for faster queries.  In their database design, they typically use dimensional modeling and a denormalized schema.  We will walk through both of these terms later in the course.  


Data warehouse:
    Optimized for analytics - OLAP
        Organized for reading/aggregating data
        Usually read-only
    Contains data from multiple sources
    Massively Parallel Processing (MPP)
    Typically uses a denormalized schema and dimensional modeling
Data marts
    Subset of data warehouse


Amazon, Google, and Microsoft all often data warehouse solutions, know ar Redshift, Big Query, and Azure SQL Data Warehouse, respectively.  [A data mart is a subset of a data warehouse dedicated to a specific topic].  Data marts allow departments to have easier access to the data that matters to them.  Technically, traditional databases and warehouses can store unstructured data, but not cost-effectively.  Data Lake storage is cheaper because it uses object storage as opposed to the traditional block or file storage.  This allows massive amounts of data to be stored effectivey of all types, from streaming data to operational databases.  Lakes are massive because they store all the data that might be used.  

Data lakes are often petabytes in size - that's 1000 terabytes.  Unstructured data is the most scable, which permits this size.  Lakes are schema-on-read, meaning the schema is created as data is read.  Warehouses and traditional databases are classified as schema-on-write because the schema is predefined.  Data lakes have to be organized and cataloged well, otherwise it becomes an aptly named "data swamp".  Data lakes aren't  only limited to storage.  Its becoming popular to run analytics on data lakes.  This is especially true for tasks like deep learning and data discovery, which needs a lot of data that doesn't need to be that clean.  Again the big 3 cloud providers all ofer a data lake solution.  

When we think about where to store data, we have to think about how data will get there and in what form.  Extract Transform Load and Extract Load Transform are 2 different approaches for describing data flows.  They get into the intricacies of building data pipelines, which we will not get into.  ETL is the more traditional approach for warehousing and smaller-scale analutics.  But ELT has become more common with big data projects.  In ETL data is transformed before loading into storage, usually to follow the storages' schema, as in the case with warehouse.  In ELT, the data is stored in its native form in a storage solution like a data lake.  The portions of data are transformed for different purposes, from building a data warehouse to doing deep learning.

## Name that data type!

In the previous video, you learned about structured, semi-structured, and unstructured data. Structured data is the easiest to analyze because it is organized and cleaned. On the other hand, unstructured data is schemaless, but scales well. In the middle we have semi-structured data for everything in between.
Instructions
100XP

Each of these cards hold a type of data. Place them in the correct category.

Unstructured:
    To-do list in a text editor
    Zip file of all text messages ever received
    Images in your photo library

Semi-structured:
    JSON object of tweets outputted in real-time by the Twitter API
    <note><from>Lis</from><heading>Thanks Ruanne!</heading><body>You rock</body></note>    

Structured:
    A relational database with latest withdrawals and deposits made by clients
    CSVs of open data downloaded from your local government websites  [Semi-structured]

## Ordering ETL Tasks

You have been hired to manage data at a small online clothing store. Their system is quite outdated because their only data repository is a traditional database to record transactions.

You decide to upgrade their system to a data warehouse after hearing that different departments would like to run their own business analytics. You reason that an ELT approach is unnecessary because there is relatively little data (< 50 GB).
Instructions
100XP

In the ETL flow you design, different steps will take place. Place the steps in the most appropriate order.

eCommerce API outputs real time data of transactions
Python script drops null rows and clean data into pre-determined columns
Resulting dataframes is written into an AWS Redshift Warehouse

Hint

[    Python scripts are often used to transform data to match a specified schema.]
    Data marts are a subset of data warehouses.
    In ETL, you need to clean data before writing it to a data warehouse.

## Recommend a storage solution

When should you choose a data warehouse over a data lake?
Answer the question
50XP
Possible Answers

    To train a machine learning model with a 150 GB of raw image data.
    1
    To store real-time social media posts that may be used for future analysis
    2
    To store customer data that needs to be updated regularly
    3
#    To create accessible and isolated data repositories for other analysts
    4
    
Hint

    Data lakes store unstructured data, which is data in its native form.
    Data lakes are better equipped to handle big data problems.
    The main use of warehouses is not to store data, but to run analysis.

That's right! Analysts will appreciate working in a data warehouse more because of its organization of structured data that make analysis easier.

## Database design




Now lets learn more about database design means.  [Database design determines how data is logically stored].  This is crucial because it affects how the database will be queried, whether for reading data or updating data.  There are 2 important concepts to know when it comes to database design: [Database models and schemas].  Database models are high-level specifications for database structure.  [The relational model, which is the most popular, is the model used to make relational databases].  It defines rows as records and columns as attributes.  It calls for rules such as each row having unique keys.  There are other models that exist that do not enforce the same rules.  

A schema is a database's blueprint.  In other words, the implementation of the database model.  It takes the logical structure more granularly by defining the specific tables, fields, relationships, indexes, and views a database will have.  Schemas must be respected when inserting structured data into a relational database.  [The first step to database design is data modeling].  __This is the abstract design phase, where we define a data model for the data to be stored.  There are 3 levels to a data model: 

[    A conceptual data model] describes what the database contains, such as its entities, relationships, sttributes. 
[    A logical data model] decides how these entities and relationships map to tables.  
[    A physical data model] looks at how data will be physically stored at the lowest level of abstraction.  
These 3 levels of a data model ensure consistency and provide a plan for implementation and use.  

Here is a simplified example of where we want to store songs.  In this case, the entities are songs, albums, and artists with various [] attributes.  Their relationships are denoted by blue rhombuses (<>).  


[Conceptual - ER diagram]
    Song[song_id, title, length] --N--<>has-- Album[album_id, title, num_songs] --N--<>creates--1-- Artist[artist_id, label, ganre]


Here we have a conceptual idea of the data we want to store.  And here is the a corresponding schema using the relational model.  The fastest way to create a schema is to translate the entities into tables.  But just because its the easiest, doesn't mean its the best.  


[Logical - schema]
   Songs
    song_id     bigint
    title       char
    length      float
    album_id    bigint  ----
                           | 
   Albums                  |
    album_id    bigint  ----
    title       char
    num_songs   int
    artist_id   bigint  ----
                           |
   Artists                 |
    artist_id   bigint  ----
    genre       char
    label       char


Lets look at some other ways this ER diagram could be converted.  For example, you could opt to have one table because you don't want to run so many joins to get song information.  Or you could add tables for genre and label.  Many songs share these attributes, and having one place for them helps with data integrity.  [The biggest difference here is how the tables are determined].  There are different pros and cons to these 3 examples shown below.  The next chapter on normalization and denormalization will expand on this.  From the prerequisites, you should be familiar with the relational model.  


   Songs
    song_id          bigint
    song_title       char
    length           float
    album_title      bigint
    num_songs_album  int
    artist_name      char
    genre            char
    label            char


   Songs
    song_id     bigint
    title       char
    length      float
    album_id    bigint  ----
                           | 
   Albums                  |
    album_id    bigint  ----
    title       char
    num_songs   int
    artist_id   bigint  ----
                           |
   Artists                 |
    artist_id   bigint  ----
    genre_id    bigint  -----------------------------|
    label_id    bigint  ------Label                Genre
                               label_id  bigint     genre_id  bigint
                               label     char       genre     char


# *******************************************************************************************************************
[Dimensional modeling is an adaptation of the relational model specifically for data warehouse].  Its optimized for OLAP type of queries that aim to analyze rather than update.  To do this, it uses the [star schema].  In the next chapter, we'll dive into that more.  [The schema of a dimentional model tends to be easy to interpret and extend].  This is a big plus for analysts working on the data warehouse.  Dimensional models are made up of 2 types of tables: [fact and dimension tables].  __What the fact table holds is decided by the business use-case.  It contains records of key metric, and this metric changes often.__  Fact tables also hold foreign keys to dimension tables.  __Dimension tables hold descriptions of specific attributes and these do not change as often.__  

So what does that means?  Back to the Song Analysis example, The center (turquoise) table is a fact table called songs, It contains foreign keys to surrounding (purple) dimension tables.  These dimension table expand on the attributes of a fact table, such as the album it is in and the artist who mdade it.  The records in fact tables often change as new songs get inserted.  Albums, labels, artists and genres will be shared by more than one song - hence records in dimenstion tables won't change as much.  


Dimension table               Fact table               Dimension table
  Album                         Songs                    Artist
    album_id                      album_id                 artist_id
    album_title                   artist_id                artist_name
    num_songs                     label_id                 gender
    release_date                  genre_id                 age
                                  song_title
Dimension table                   song_length          Simension table
  Label                                                  Genre
    label_id                                               genre_id
    label_name                                             genre_name
    address


Summing it up, to detect a fact table in a dimention model, consider what is being analyzed and how often entities change.

## Classifying data models

In the previous video, we learned about three different levels of data models: conceptual, logical, and physical.
Instructions
100XP

Each of these cards hold a tool or concept that fits into a certain type of data model. Place the cards in the correct category.

Conceptual Data Model:
    Gathers business requirements
    Relational model   [Logical Data Model]
    
Logical Data Model:
    Entities, attributes, and relationships   [Conceptual Data Model]
    Determining tables and columns
    
Physical Data Model:
    File structure of data storage
    
Hint

    Database design is a step in determining the logical structure of a database.
    Entity-Relation diagrams are useful creating conceptual data models.
    Physical data models focus on how data will be physically stored.

## Deciding fact and dimension tables

Imagine that you love running and data. It's only natural that you begin collecting data on your weekly running routine. You're most concerned with tracking how long you are running each week. You also record the route and the distances of your runs. You gather this data and put it into one table called Runs with the following schema:
  runs
    duration_mins - float
    week - int
    month - varchar(160)
    year - int
    park_name - varchar(160)
    city_name - varchar(160)
    distance_km - float
    route_name - varchar(160)

After learning about dimensional modeling, you decide to restructure the schema for the database. Runs has been pre-loaded for you.
Instructions 1/2
50 XP

    Question 1
    Out of these possible answers, what would be the best way to organize the fact table and dimensional tables?
Possible Answers

#    A fact table holding duration_mins and foreign keys to dimension tables holding route details and week details, respectively.
    A fact table holding week,month, year and foreign keys to dimension tables holding route details and duration details, respectively.
    A fact table holding route_name,park_name, distance_km,city_name, and foreign keys to dimension tables holding week details and duration details, respectively.
    
Incorrect submission
Try again. route_name,park_name, distance_km, and city_name would be better in it's own dimension table. We're more interested in the run itself, than where it took place.


    Question 2
    Create a dimension table called route that will hold the route information.
    Create a dimension table called week that will hold the week information.

Hint

[    Route information includes the columns park_name, city_name, distance_km, and route_name.
    Week information includes the columns week, month, and year.
    Make sure to look at the schema diagram for the data type of each columns.

In [ ]:
SELECT * FROM Runs;


duration_mins	week	month	year	park_name	city_name	distance_km	route_name
24.5	3	May	2019	Prospect Park	Brooklyn	5	Simple Loop
61	3	May	2019	Central Park	New York City	8	Resevoir Loop
24.5	3	May	2019	Central Park	New York City	5	Lake Loop
24.5	4	May	2019	Central Park	New York City	5	Lake Loop
48	4	May	2019	Prospect Park	Brooklyn	10	Grove Run
23	4	May	2019	Prospect Park	Brooklyn	5	Simple Loop
24.5	1	June	2019	Central Park	New York City	5	Lake Loop
54.96	1	June	2019	Pennypack Park	Philadelphia	12	Penny Trail Extended
38.4	1	June	2019	Central Park	New York City	8	Resevoir Loop
23.75	1	June	2019	Central Park	New York City	5	Lake Loop
57.6	2	June	2019	Pennypack Park	Philadelphia	12	Penny Trail Extended
31.8	2	June	2019	Pennypack Park	Philadelphia	6	Penny Trail
49	2	June	2019	Liberty State Park	Jersey City	10	Water Front Run
23.35	2	June	2019	Prospect Park	Brooklyn	5	Simple Loop
39.2	3	June	2019	Central Park	New York City	8	Resevoir Loop
27.48	3	June	2019	Pennypack Park	Philadelphia	6	Penny Trail
28.8	3	June	2019	Pennypack Park	Philadelphia	6	Penny Trail
47.5	3	June	2019	Liberty State Park	Jersey City	10	Water Front Run
24	4	June	2019	Central Park	New York City	5	Lake Loop
53	4	June	2019	Prospect Park	Brooklyn	10	Grove Run
24.5	4	June	2019	Prospect Park	Brooklyn	5	Simple Loop
37.36	4	June	2019	Central Park	New York City	8	Resevoir Loop
28.8	1	July	2019	Pennypack Park	Philadelphia	6	Penny Trail
23	1	July	2019	Prospect Park	Brooklyn	5	Simple Loop
49	1	July	2019	Liberty State Park	Jersey City	10	Water Front Run
45.8	1	July	2019	Liberty State Park	Jersey City	10	Water Front Run
24	2	July	2019	Prospect Park	Brooklyn	5	Simple Loop
47.5	2	July	2019	Prospect Park	Brooklyn	10	Grove Run
24	2	July	2019	Central Park	New York City	5	Lake Loop
53	2	July	2019	Liberty State Park	Jersey City	10	Water Front Run
24.5	3	July	2019	Central Park	New York City	5	Lake Loop
37.36	3	July	2019	Central Park	New York City	8	Resevoir Loop
24.5	3	July	2019	Prospect Park	Brooklyn	5	Simple Loop



-- Create a route dimension table
CREATE TABLE ___(
	route_id INTEGER PRIMARY KEY,
    ___ VARCHAR(160) NOT NULL,
    ___ VARCHAR(160) NOT NULL,
    distance_km ___ NOT NULL,
    ___ VARCHAR(160) NOT NULL
);
-- Create a week dimension table
CREATE TABLE ___(
	week_id INTEGER PRIMARY KEY,
    week ___ NOT NULL,
    ___ VARCHAR(160) NOT NULL,
    ___ ___ NOT NULL
);

In [ ]:
-- Create a route dimension table
CREATE TABLE route(
	route_id INTEGER PRIMARY KEY,
    route_name VARCHAR(160) NOT NULL,
    park_name VARCHAR(160) NOT NULL,
    distance_km float NOT NULL,
    city_name VARCHAR(160) NOT NULL
);
-- Create a week dimension table
CREATE TABLE week(
	week_id INTEGER PRIMARY KEY,
    week int NOT NULL,
    month VARCHAR(160) NOT NULL,
    year int NOT NULL
);



Solution ------------------------------------------------------------------------------------------------------------
-- Create a route dimension table
CREATE TABLE route (
	route_id INTEGER PRIMARY KEY,
    park_name VARCHAR(160) NOT NULL,
    city_name VARCHAR(160) NOT NULL,
    distance_km FLOAT NOT NULL,
    route_name VARCHAR(160) NOT NULL
);
-- Create a week dimension table
CREATE TABLE week(
	week_id INTEGER PRIMARY KEY,
    week INTEGER NOT NULL,
    month VARCHAR(160) NOT NULL,
    year INTEGER NOT NULL
);

## Querying the dimensional model

Here it is! The schema reorganized using the dimensional model:

route_dim             runs_fact            week_dim
  route_id              route_id             week_id
  park_name             week_id              week
  city_name             duration_mins        month
  distance_km                                year
  route_name

Let's try to run a query based on this schema. How about we try to find the number of minutes we ran in July, 2019? We'll break this up in two steps. First, we'll get the total number of minutes recorded in the database. Second, we'll narrow down that query to week_id's from July, 2019.
Instructions 1/2
50 XP

    Question 1
    Calculate the sum of the duration_mins column.
    
    
    Question 2
    Join week_dim and runs_fact.
    Get all the week_id's from July, 2019.

In [ ]:
SELECT 
	-- Select the sum of the duration of all runs
	sum(duration_mins)
FROM 
	runs_fact;
    
sum
1172.1599999999999



SELECT 
	-- Get the total duration of all runs
	SUM(duration_mins)
FROM 
	runs_fact
-- Get all the week_id's that are from July, 2019
INNER JOIN ___ ON ___.___ = ___.___
WHERE ___ = 'July' and ___ = '2019';


SELECT 
	-- Get the total duration of all runs
	SUM(duration_mins)
FROM 
	runs_fact
-- Get all the week_id's that are from July, 2019
INNER JOIN week_dim ON runs_fact.week_id = week_dim.week_id
WHERE month = 'July' and year = '2019';

sum
381.46000000000004

In [ ]:
runs_fact

duration_mins	week_id	route_id
24.5	601	101
61	601	103
24.5	601	104
24.5	602	104
48	602	102
23	602	101
24.5	603	104
54.96	603	106
38.4	603	103
23.75	603	104
57.6	604	106
31.8	604	105
49	604	107
23.35	604	101
39.2	605	103
27.48	605	105
28.8	605	105
47.5	605	107
24	606	104
53	606	102
24.5	606	101
37.36	606	103
28.8	607	105
23	607	101
49	607	107
45.8	607	107
24	608	101
47.5	608	102
24	608	104
53	608	107
24.5	609	104
37.36	609	103
24.5	609	101


week_dim

week_id	week	month	year
601	3	May	2019
602	4	May	2019
603	1	June	2019
604	2	June	2019
605	3	June	2019
606	4	June	2019
607	1	July	2019
608	2	July	2019
609	3	July	2019


route_dim
route_id	park_name	city_name	distance_km	route_name
101	Prospect Park	Brooklyn	5	Simple Loop
102	Prospect Park	Brooklyn	10	Grove Run
103	Central Park	New York City	8	Resevoir Loop
104	Central Park	New York City	5	Lake Loop
105	Pennypack Park	Philadelphia	6	Penny Trail
106	Pennypack Park	Philadelphia	12	Penny Trail Extended
107	Liberty State Park	Jersey City	10	Water Front Run

## Star and snowflake schema




Congrats on finishing the first chapter.  We're now going to jump in where we left off with the [star schema]. The star schema is the simplest form of the dimensional model.  Some use the term "star schema" and "dimensional model" interchangeably.  Remember that the star schema is made up of 2 tables: [fact and dimension tables].  Fact tables hold records of metrics that are described further by dimension tables.  Throughout this chapter, we are going to use another bookstore example.  However, this time, you work for a company that sells books in bulk to bookstores across the US and Canada.  You have a database to keep track of book sales.  Lets take a look at the star schema for this database.  

                                        dim_book_star
                                          book_is    int           PK
                                          title      varchar(256)
                                          author     varchar(256)
                                          publisher  varchar(256)
                                          genre      varchar(128)
                                                  |
                                                 |||
dim_store_star                          fact_booksales                   dim_time_star
  store_id       int           PK         sales_id      int    PK          time_id      int    PK
  store_address  varchar(256)         -   book_id       int    FK -        day          int
  city           varchar(128)   -------   time_id       int    FK ------   month        int
  state          varchar(128)         -   store_id      int    FK -        quarter      int
  country        varchar(128)             sales_amount  float              year         int
                                          quantity      int


Excluding primary and foreign keys, the fact table holds the sale amount and quantity of books.  Its connected to dimension tables with details on the books sold, the time the sale took place, and the store buying the books.  You may notice the lines connecting these tables have a special pattern.  These lines represent a one-to-many relationship.  For example, a store can be part of many book sales, but one sale can only belong to one store.  The star schema got its name because it tends to look like a star wit its different extension points.  

Now that we have a good grasp of the star schema, lets look at the snowflake schema.  The snowflake schema is an extension of the star schema.  Off the bat, we see that it has more tables.  You may not be able to see all the details in the slide, but don't worry it will be broken down in later slides.  

[The snowflake schema looks like above diagram, but with other many-to-one tables linked to the dimension tables]


dim_author_sf                           dim_book_sf                      dim_genre_sf
  author_id    int          PK        -   book_is    int           PK      genre_id    int          PK
  author       varchar(256)     -------   title      varchar(256)  ------  genre       varchar(256)
                                      -   author     varchar(256)  -
                                          publisher  varchar(256)
                                          genre      varchar(128)
                                                  |
                                                 |||
dim_store_sf                            fact_booksales                   dim_time_sf
  store_id       int           PK         sales_id      int    PK          time_id      int    PK
  store_address  varchar(256)         -   book_id       int    FK -        day          int
  city_id        int           FK -----   time_id       int    FK ------   month        int    FK
       |||                            -   store_id      int    FK -        quarter      int
        |                                 sales_amount  float              year         int
dim_city_sf                               quantity      int                  |||
  city_id        varchar(128)  PK                                             |
  city           varchar(128)                                             dim_month_sf
  state          varchar(128)  FK                                           month_id   int   PK
                                                                            month      int
  
# *******************************************************************************************************************
The information contained in this schema is the same as the star schema.  In fact, the fact table is the same but the way the dimension tables are structured is different.  We see that they extend more, hence its namesake.  [The star schema extend one dimsion, while the snowflake schema extends over more than one dimension].  This is because the dimension tables are normalized.  So what is normalization?  [Normalization is a technique that divides tables into smaller tables and connects them via relationships]  __The goal is to reduce redundancy and increase data integrity__  So how does this happen?  There are several forms of normalization, which we'll delve into later.  __But the basic idea is to identify repeating groups of data and create new tables for them__  Lets go back to our exampleand see how these tables were normalized.  Here is the book dimension in the star schema.  [What could be repeating here?]  Primary key are inherently unique.  For book titles, although there is possible repeat here, it is not common.  On the other hand, authors often publish more than one book, [publishers definitely publish many books], and a lot of books share genres.  We can create new tables for them, and it results in the following snowflake schema.  Do you see how these repeating groups now have their own table?  On to the store dimension.  [City, states, and countries can definitely have more than one book stores within them].  

dim_book_star
  book_id     int           PK
  title       varchar(256)
  author      varchar(256)
  publisher   varchar(256)
  genre       varchar(256)


                                         dim_publisher_sf
                                           publisher_id     int          PK
                                           publisher        varchar(256)
                                               |
                                              |||
dim_author_sf                            dim_book_sf                     -       dim_genre_sf
  author_id   int          PK          -   book_id      int          PK  --------  genre_id       int         PK
  author      varchar(256)     ---------   title        varchar()256     -         genre          varchar(128)
                                       -   author_id    int          FK
                                           publisher_id int          FK
                                           genre_id     int          FK


dim_store_sf
  store_id       int         PK
  store_address  varchar(256)
  city_id        int         FK
|||
|
dim_city_sf
  city_id        int         PK
  city           varchar(128)
  state_id       int         FK
|||
|
dim_state_sf
  state_id       int         PK
  state          varchar(128)
  country_id     int         FK
|||
|
dim_country_sf
  country_id     int         PK
  country        varchar(128) 

We can apply same skills to normalize dimension tables representing the book stores.  Do you notice that the way we structure these repeating groups is a bit different from the book dimension?  [An author can have published in different genres and with various publishers, hence why they were different dimemsions]. However, a city stays in the same state and country; thus they extend each other over 3 dimensions.  The same is done on the time dimension.  A day is a part of a month that is a part of a quarter, and so on.  

And then we put all the normalized dimensions together to get the snowflake schema.  Geting the hang of this?

## Running from star to snowflake

Remember your running database from last chapter?

route_dim             runs_fact            week_dim
  route_id              route_id             week_id
  park_name             week_id              week
  city_name             duration_mins        month
  distance_km                                year
  route_name

After learning about the snowflake schema, you convert the current star schema into a snowflake schema. To do this, you normalize route_dim and week_dim. Which option best describes the resulting new tables after doing this?

The tables runs_fact, route_dim, and week_dim have been loaded.
Instructions
50 XP
Instructions
50 XP
Possible Answers

    week_dim is extended two dimensions with new tables for month and year. route_dim is extended one dimension with a new table for city.
    week_dim is extended two dimensions with new tables for month and year. route_dim is extended two dimensions with new tables for city and park.
#    week_dim is extended three dimensions with new tables for week, month and year. route_dim is extended one dimension with new tables for city and park.

Hint

    Look through the tables route_dim and week_dim to see what columns hold repeated information.
    Remember how dimensions can connect to each other via foreign keys, like the city, state, and country variables in the slides?

## Adding foreign keys

Foreign key references are essential to both the snowflake and star schema. When creating either of these schemas, correctly setting up the foreign keys is vital because they connect dimensions to the fact table. They also enforce a one-to-many relationship, because unless otherwise specified, a foreign key can appear more than once in a table and primary key can appear only once.

The fact_booksales table has three foreign keys: book_id, time_id, and store_id. In this exercise, the four tables that make up the star schema below have been loaded. However, the foreign keys still need to be added.

                                        dim_book_star
                                          book_is    int           PK
                                          title      varchar(256)
                                          author     varchar(256)
                                          publisher  varchar(256)
                                          genre      varchar(128)
                                                  |
                                                 |||
dim_store_star                          fact_booksales                   dim_time_star
  store_id       int           PK         sales_id      int    PK          time_id      int    PK
  store_address  varchar(256)         -   book_id       int    FK -        day          int
  city           varchar(128)   -------   time_id       int    FK ------   month        int
  state          varchar(128)         -   store_id      int    FK -        quarter      int
  country        varchar(128)             sales_amount  float              year         int
                                          quantity      int

Instructions
100 XP

    In the constraint called sales_book, set book_id as a foreign key.
    In the constraint called sales_time, set time_id as a foreign key.
    In the constraint called sales_store, set store_id as a foreign key.

Hint

    The table with the foreign keys, fact_booksales, is the table that will be altered.
    The (___) holds the column name that will serve as the foreign key.
    The primary keys of the dimension tables need to be referenced as foreign keys, therefore, a dimension table should come after REFERENCES.

In [ ]:
-- Add the book_id foreign key
ALTER TABLE ___ ADD CONSTRAINT sales_book
    FOREIGN KEY (___) REFERENCES ___ (___);
    
-- Add the time_id foreign key
ALTER TABLE ___ ___ ___ ___
    ___ ___ (___) REFERENCES ___ (___);
    
-- Add the store_id foreign key
___ ___ ___ ___ ___ ___
    ___ ___ (___) ___ ___ (___);

# *******************************************************************************************************************

In [ ]:
-- Add the book_id foreign key
ALTER TABLE fact_booksales ADD CONSTRAINT sales_book
    FOREIGN KEY (book_id) REFERENCES dim_book_star (book_id);
    
-- Add the time_id foreign key
ALTER TABLE fact_booksales ADD CONSTRAINT sales_time
    FOREIGN KEY (time_id) REFERENCES dim_time_star (time_id);
    
-- Add the store_id foreign key
ALTER TABLE fact_booksales ADD CONSTRAINT sales_store
    FOREIGN KEY (Store_id) REFERENCEs dim_store_star (store_id);

## Extending the book dimension

In the video, we saw how the book dimension differed between the star and snowflake schema. The star schema's dimension table for books, dim_book_star, has been loaded and below is the snowflake schema of the book dimension.

                                         dim_publisher_sf
                                           publisher_id     int          PK
                                           publisher        varchar(256)
                                               |
                                              |||
dim_author_sf                            dim_book_sf                     -       dim_genre_sf
  author_id   int          PK          -   book_id      int          PK  --------  genre_id       int         PK
  author      varchar(256)     ---------   title        varchar()256     -         genre          varchar(128)
                                       -   author_id    int          FK
                                           publisher_id int          FK
                                           genre_id     int          FK


In this exercise, you are going to extend the star schema to meet part of the snowflake schema's criteria. Specifically, you will create dim_author from the data provided in dim_book_star.
Instructions 1/2
50 XP

    Question 1
    Create dim_author with a column for author.
    Insert all the distinct authors from dim_book_star into dim_author.
    
    
    Question 2
    Alter dim_author to have a primary key called author_id.
    Output all the columns of dim_author.

# *******************************************************************************************************************

In [ ]:
-- Create dim_author with an author column
CREATE TABLE dim_author (
    author VARCHAR(256)  NOT NULL
);

-- Insert authors into the new table
INSERT INTO dim_author
SELECT DISTINCT author FROM dim_book_star;



-- Create a new table for dim_author with an author column
CREATE TABLE dim_author(
    author varchar(256)  NOT NULL
)

-- Insert authors
INSERT INTO dim_author
SELECT DISTINCT author FROM dim_book_star

-- Add a primary key ------------------------------------------------------------------------------------------------
ALTER TABLE dim_author ADD COLUMN author_id SERIAL PRIMARY KEY

-- Output the new table
SELECT * FROM dim_author

## Normalized and denormalized databases




Now that we have a grasp on normalization, lets talk about why we would want to normalize a database.  You should be familiar th these 2 schemars by now.  The star schema and the snowflake schema.  They both storing fictional company data on the sales of books in bulk to stores across the US and Canada.  On the left you have the [star schema with denormalized dimension tables].  And on the right, you have the [snowflake schema with normalized dimension tables].  The normalized database looks way more complicated.  Adn it is in some ways.  

For example, lets say you wanted to get all the quantity of all books by Octavia E. Bulter sold in Vancouver in Q4 of 2018.   Based on the denormalized schema, you can run the following query to accomplish this.  It composed of 3 joins, which makes sense based on the 3 dimension tables in the starschema.  


SELECT SUM(quantity) FROM fact_booksales 
    INNER JOIN dim_store_star ON fact_booksales.store_id = dim_store_star.store_id
    INNER JOIN dim_book_star ON fact_booksales.book_id = dim_book_star.book_id
    INNER JOIN dim_time_star ON fact_booksales.time_id = dim_time_star.time_id
WHERE 
    dim_store_star.city = 'Vancouver' AND dim_book_star.author = 'Octavia E. Bulter' AND
    dim_time_star.yesr = 2018 and dim_time_star.quarter = 4;


And what would the query look like on the normalized schema?  A lot longer.  There is a total of 8 inner joins.  This makes sense based on the snowflake schema diagram.  The normalized snowflake schema has considerable more tables.  this means [more joins, which means slower queries.  


SELECT 
    SUM(fact_booksales.quantity)
FROM
    fact_booksales
INNER JOIN dim_store_sf ON fact_booksales.store_id = dim_store_sf.store_id
INNER JOIN dim_city_sf ON dim_store_sf.city_id = dim_city_sf.city_id
INNER JOIN dim_book_sf ON fact_booksales.book_id = dim_book_sf
INNER JOIN dim_author_sf ON dim_book_sf.author_id = dim_author_sf.author_id
INNER JOIN dim_time_sf ON fact_booksales.time_id = dim_time_sf.time_id
INNER JOIN dim_month_sf ON dim_time_sf.month_id = dim_month_sf.month_id
INNER JOIN dim_quarter_sf ON dim_time_sf.quarter_id = dim_quarter_sf.quarter_id
INNER JOIN dim_year_sf ON dim_quarter_sf.year_id = dim_year_sf.year_id
Where 
    dim_store_star.city = 'Vancouver' AND dim_book_star.author = 'Octavia E. Bulter' AND
    dim_time_star.yesr = 2018 and dim_time_star.quarter = 4;


[So why would we want to normalize a database?  Normalization saves space].  This isn't intuitive seeing how normalized database have more tables.  Lets take a look at the store table in our denormalized database.  Here we see a lot of information in bold - such as [USA], [California], [New York], and [Brooklyn].  This type of denormalized structure enables a lot of data redundancy.  

-------------------------------------------------------------------
id  | store_address    | city          | state       | country
1   | 67 First St      | Brooklyn      | New York    | USA
2   | 12 Jefferson Rd  | San Francisco | California  | USA
3   | 90 Coolidge St   | Log Angeles   | California  | USA
4   | 85 Main Ave      | Brooklyn      | New York    | USA
5   | 123 Bedford St   | Brooklyn      | New York    | USA


If we normalize that previous schema, we got this: we see that although we are using more tables, there is no data redundancy.  The string "Brooklyn" is only stored once.  And the state records are stored separately because many cities share the same state, and country.  We don't need to repeat that information, instead, we can one record holding the string Califoria.  [Here we see how normalization eliminates data redundancy]. 


dim_store_sf                          dim_city_sf                              dim_state_sf
---------------------------------     ------------------------------------     ------------------------------------
id  | store_address    | city_id      city_id | city_name      | state_id      state_id  | state       | country_id
1   | 67 First St      | 2            2       | Brooklyn       | 43            43        | New York    | 121
2   | 12 Jefferson Rd  | 3            3       | San Francisco  | 36            36        | California  | 121
3   | 90 Coolidge St   | 4            4       | Log Angeles    | 36                       
4   | 85 Main Ave      | 2                                                               
5   | 123 Bedford St   | 2                                                               


__Normalization ensures better data integrity through its design__.  First it enforces data consistency.  Data entry can get messy, and at times people will fill out fields differently.  For example, when referring to California, someone might initials CA.  [Since the states are already entered in a table, we can ensure naming conventions through referential integrity].  Secondly, because duplicates are reduced, [modification of any data becomes safer and simpler].  Say in the previous example, you wanted to update the spelling of a state - you wouldn't have to find each record referring to the state, instead, you could make that change in the states table by altering one record.  From there, you can be confident that the new spelling will be enacted for all stores in that state.  Lastly, [since tables are smaller and organized more by object, its easier to alter the database schema].  You can extend a smaller table without having to alter a larger table holding all the vital data.  



To recap, here are the pros and cons of normalization.  Now normalization seems sppealing, especially for database maintenance.  [However, normalization requires a lot more joins making queries more complicated], which can make indexing and reading of data slower.  Deciding between normalization and denormalization comes down to how read- or write- intensive your database is going to be.  Remember OLTP and OLAP?  Can you guess which [OLTP] prefers normalization?  


[OLTP is write-intensive meaning we're updating and writing often.  Normalization makes sense because we want to add data quickly and consistently].  OLAP is read-intensive because we're running analytics on the data.  This means we want to prioritize quicker read queries.  Remember how much more joins the normalized query had over the denormalized query?  8 joins to 3 joins.  OLAP should try to avoid that.

In [ ]:
SELECT COUNT(a.book_id) 
FROM fact_booksales a LEFT JOIN dim_store_star b ON a.store_id = b.store_id
LEFT JOIN dim_time_star c ON a.time_id = c.time_id
LEFT JOIN dim_book_star d ON a.book_id = d.book_id
WHERE d.publisher = 'Octavia E. Bulter' AND b.city = 'Vancouver' AND c.year = 2018 AND c.quarter = 4



# *******************************************************************************************************************
SELECT SUM(quantity) FROM fact_booksales 
    INNER JOIN dim_store_star ON fact_booksales.store_id = dim_store_star.store_id
    INNER JOIN dim_book_star ON fact_booksales.book_id = dim_book_star.book_id
    INNER JOIN dim_time_star ON fact_booksales.time_id = dim_time_star.time_id
WHERE 
    dim_store_star.city = 'Vancouver' AND dim_book_star.author = 'Octavia E. Bulter' AND
    dim_time_star.yesr = 2018 and dim_time_star.quarter = 4;

## Querying the star schema

The novel genre hasn't been selling as well as your company predicted. To help remedy this, you've been tasked to run some analytics on the novel genre to find which areas the Sales team should target. To begin, you want to look at the total amount of sales made in each state from books in the novel genre.

Luckily, you've just finished setting up a data warehouse with the following star schema:

                                        dim_book_star
                                          book_is    int           PK
                                          title      varchar(256)
                                          author     varchar(256)
                                          publisher  varchar(256)
                                          genre      varchar(128)
                                                  |
                                                 |||
dim_store_star                          fact_booksales                   dim_time_star
  store_id       int           PK         sales_id      int    PK          time_id      int    PK
  store_address  varchar(256)         -   book_id       int    FK -        day          int
  city           varchar(128)   -------   time_id       int    FK ------   month        int
  state          varchar(128)         -   store_id      int    FK -        quarter      int
  country        varchar(128)             sales_amount  float              year         int
                                          quantity      int
                                          

The tables from this schema have been loaded.
Instructions
100 XP

[    Select "state" from the appropriate table and the total "sales_amount".]
    Complete the JOIN on book_id.
    Complete the JOIN to connect the dim_store_star table
    Conditionally select for books with the genre novel.
    Group the results by state.

Hint

    The JOINs are done on the shared foreign keys between tables. In this schema, these keys end with _id.
    The fact_booksales table needs to be joined with dim_store_star and dim_book_star.
    The values of genre and state are held in dim_book_star and dim_store_star, respectively.

<img src="https://assets.datacamp.com/production/repositories/5311/datasets/75bc5e6de9085df105fd4cd1af69752786096617/book-star.png">

In [ ]:
-- Output each state and their total sales_amount
SELECT dim_store_star.state, SUM(sales_amount)
FROM fact_booksales
	-- Join to get book information
    JOIN dim_book_star on fact_booksales.book_id = dim_book_star.book_id
	-- Join to get store information
    JOIN dim_store_star on dim_store_star.store_id = fact_booksales.store_id
-- Get all books with in the novel genre
WHERE  
    dim_book_star.genre = 'novel'
-- Group results by state
GROUP BY
    dim_store_star.state;

In [ ]:
-- Output each state and their total sales_amount
SELECT dim_store_star.state, sum(sales_amount)
FROM fact_booksales
	-- Join to get book information
    JOIN dim_book_star on fact_booksales.book_id = dim_book_star.book_id
	-- Join to get store information
    JOIN dim_store_star on fact_booksales.store_id = dim_store_star.store_id
-- Get all books with in the novel genre
WHERE  
    dim_book_star.genre = 'novel'
-- Group results by state
GROUP BY
    dim_store_star.state;

## Querying the snowflake schema

Imagine that you didn't have the data warehouse set up. Instead, you'll have to run this query on the company's operational database, which means you'll have to rewrite the previous query with the following snowflake schema:


dim_author_sf                           dim_book_sf                      dim_genre_sf
  author_id    int          PK        -   book_is    int           PK      genre_id    int          PK
  author       varchar(256)     -------   title      varchar(256)  ------  genre       varchar(256)
                                      -   author     varchar(256)  -
                                          publisher  varchar(256)
                                          genre      varchar(128)
                                                  |
                                                 |||
dim_store_sf                            fact_booksales                   dim_time_sf
  store_id       int           PK         sales_id      int    PK          time_id      int    PK
  store_address  varchar(256)         -   book_id       int    FK -        day          int
  city_id        int           FK -----   time_id       int    FK ------   month        int    FK
       |||                            -   store_id      int    FK -        quarter      int
        |                                 sales_amount  float              year         int
dim_city_sf                               quantity      int                  |||
  city_id        varchar(128)  PK                                             |
  city           varchar(128)                                             dim_month_sf
  state          varchar(128)  FK                                           month_id   int   PK
                                                                            month      int
  

The tables in this schema have been loaded. Remember, our goal is to find the amount of money made from the novel genre in each state.
Instructions
100 XP

    Select state from the appropriate table and the total sales_amount.
    Complete the two JOINS to get the genre_id's.
    Complete the three JOINS to get the state_id's.
    Conditionally select for books with the genre novel.
    Group the results by state.

In [ ]:
-- Output each state and their total sales_amount
SELECT ___.___, ___(___)
FROM ___
    -- Joins for genre
    JOIN dim_book_sf on ___.___ = ___.___
    JOIN dim_genre_sf on ___.___ = ___.___
    -- Joins for state 
    JOIN ___ on ___.store_id = ___.store_id 
    JOIN ___ on ___.city_id = ___.city_id
	JOIN ___ on  ___.state_id = ___.state_id
-- Get all books with in the novel genre and group the results by state
WHERE  
    ___.___ = '___'
GROUP BY
    ___.___;

<img src="https://assets.datacamp.com/production/repositories/5311/datasets/0c83b37648663810b40ef2b13503e64a56bbb856/book-snowflake-copy.png">

## Updating countries

Going through the company data, you notice there are some inconsistencies in the store addresses. These probably occurred during data entry, where people fill in fields using different naming conventions. This can be especially seen in the [country] field, and you decide that countries should be represented by their abbreviations. The only countries in the database are Canada and the United States, which should be represented as [USA] and [CA].

In this exercise, you will compare the records that need to be updated in order to do this task on the star and snowflake schema. dim_store_star and dim_country_sf have been loaded.
Instructions 1/2
50 XP

    Question 1
    Output all the records that need to be updated in the star schema so that countries are represented by their abbreviations.
    
    
    Question 2

In [ ]:
-- Output records that need to be updated in the star schema
SELECT * FROM ___
WHERE ___ != 'USA' AND ___ !='CA';